/* @font-face {
	font-family: CrimsonPro-Medium;
	src: url(./CrimsonPro-Medium.ttf);
}

#preview {
	font-family: CrimsonPro-Medium;
	/* width: 210mm;
	height: 297mm; */
	color: red;
	font-size: 5mm;
} */
