@font-face {
	font-family: Raleway-Medium;
	src: local("Raleway-Medium"), url(./Raleway-Medium.ttf);
}

section {
	margin: 1rem;
	padding: 2rem;
	text-align: center;
	background-color: #555;
	border-radius: 0.5rem;
	color: #ccc;
	font-weight: bold;
	box-shadow: 0 0 0.5rem whitesmoke;
}

section h2 {
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 2rem;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* Personal Information */

section form.editableFields-false {
	display: grid;
	grid-template-columns: max-content max-content;
	justify-items: center;
	column-gap: 1rem;
}

section form.editableFields-false > div {
	display: grid;
}

section form.editableFields-false > div > div {
	justify-self: left;
	margin-top: 1rem;
}

.notEditable0 {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.notEditable1 {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.notEditable2 {
	grid-row: 1 / 3;
	grid-column: 2 / 3;
	align-self: center;
	width: auto;
}

img {
	width: 8rem;
	border-style: solid;
	border-color: black;
	border-width: 0.1rem;
	border-radius: 0.5rem;
	background-color: rgb(47, 47, 47);
}

img:hover {
	opacity: 0.7;
}

section form.editableFields-false > button[type="submit"] {
	grid-column: 1 / 3;
	justify-self: flex-end;
}

/* Other Sections */

section .singInfoInter {
	margin-top: 2rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	font-size: 1.2rem;
}

section form.editableFields-true {
	display: flex;
	flex-direction: column;
}

section form.editableFields-true > div {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

section form.editableFields-true > div input {
	align-self: flex-end;
}

section form.editableFields-true > button[type="submit"] {
	grid-row: 4 / 5;
	grid-column: 2 / 3;
}

section.fromTos-true .singInfoInter {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;

	font-size: 1.2rem;
}

section.fromTos-true form.editableFields-true > div {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
}

section.fromTos-true form.editableFields-true .fromTo {
	display: grid;
	grid-template-columns: 8rem 8rem;
	text-align: left;
}

section.fromTos-true form.editableFields-true .fromTo>label {
	grid-row: 1 / 2;
}
	
section.fromTos-true form.editableFields-true .fromTo input {
	text-align: center;
}

input {
	margin: 0.5rem;
	padding: 0.8rem;
	border-radius: 2rem;
	border-style: solid;
	border-width: 0.15rem;
	border-color: #555;
	background-color: #999;
	color: #333;
	font-family: Raleway-Medium;
	font-size: 1.2rem;
}

input:focus {
	outline: 0;
}

input:hover {
	border: 0.15rem solid rgb(192, 128, 255);
}

section:nth-child(1) h2 {
	color: rgb(255, 130, 130);
}

section:nth-child(2) h2 {
	color: rgb(255, 207, 130);
}

section:nth-child(3) h2 {
	color: rgb(211, 255, 130);
}

section:nth-child(4) h2 {
	color: rgb(130, 255, 140);
}

section:nth-child(5) h2 {
	color: rgb(130, 255, 238);
}

section:nth-child(6) h2 {
	color: rgb(130, 174, 255);
}

section:nth-child(7) h2 {
	color: rgb(188, 130, 255);
}

section:nth-child(8) h2 {
	color: rgb(255, 130, 238);
}

button {
	align-self: flex-end;
	gap: 1rem;
	display: flex;
	align-items: center;
	border-style: none;
	margin: 0.5rem;
	margin-top: 1.5rem;
	padding: 1rem;
	padding-right: 1.5rem;
	background-image: linear-gradient(45deg, #654ea3, #eb5895);
	color: rgb(255, 217, 184);
	font-size: 1rem;
	font-weight: 900;
	border-radius: 2rem;
}

button:hover {
	transform: scale(1.05);
}

button .icon {
	font-size: 2rem;
}

button .pipe {
	font-size: 1.5rem;
	border-left: 0.1rem solid rgb(255, 217, 184);
}

button[type="button"] {
	align-self: flex-start;
	padding: 0.7rem 2rem 0.7rem 2rem;
}

/* Viewing saved info */

section.personal > div {
	display: grid;
	grid-template-columns: max-content max-content;
	justify-content: center;
}

section.personal > div > div:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	align-self: flex-end;
	font-size: 2rem;
}

section.personal > div > div:nth-child(2) {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	align-self: flex-start;
	font-size: 1.5rem;
}

section.personal > div > div:nth-child(3) {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

section.personal .item {
	grid-column: 1 / 3;
	display: flex;
	flex-direction: column;
}

section.personal .field {
	display: flex;
	gap: 1rem;
	margin-left: 4rem;
	margin-bottom: 1rem;
}

section.personal > div button {
	grid-column: 1 / 3;
	width: max-content;
	justify-self: center;
}